PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=skyline
DATABASE_PASSWORD=change-me
DATABASE_NAME=skyline

REDIS_HOST=localhost
REDIS_PORT=6379

STORAGE_ENDPOINT=localhost
STORAGE_PORT=9000
STORAGE_ACCESS_KEY=change-me
STORAGE_SECRET_KEY=change-me
STORAGE_BUCKET=skyline-media
